{% extends 'base.html' %}
{% load static %}

{% block title %} Run Command {% endblock title %}

{% block link %}
    <script src="{% static 'web/js/index.js' %}"></script>
{% endblock link %}

{% block content %}
    
    <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" id="command" class="form-control" placeholder="Command" aria-describedby="basic-addon1">
        </div>
          

        <div class="input-group mb-3">
            <button type="button" onclick="run_command()" class="btn btn-success btn-lg btn-block">Run</button>
        </div>

        <div class="input-group">
            <textarea id="result_command" class="form-control" placeholder="Result Command" aria-label="Result" rows="25" readonly></textarea>
        </div>
    </div>
  
{% endblock content %}